<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h1>New Post</h1>

<%= form_with model: @post, local: true do |form| %>
  <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
  </p>

  <p>
      <%= form.label :images %><br>
      <%= form.file_field :images, id: "post_images", multiple: true, accept: "image/*" %>

      <!-- Add a preview section -->
      <div id="image-preview"></div>
  </p>

   <p>
      <%= form.submit "Create Post" %>
  </p>
<% end %>

<%= link_to "Back", posts_path %>
